# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
docs/node_modules

# next.js
docs/.next/
docs/out/

# production
docs/build

# debug
docs/npm-debug.log*
docs/yarn-debug.log*
docs/yarn-error.log*
docs/.pnpm-debug.log*

# env files
docs/.env*

# vercel
docs/.vercel

# typescript
docs/*.tsbuildinfo
docs/next-env.d.ts

# tools keys
tools/id_rsa
tools/known_hosts